# Wallet
PRIVATE_KEY=your_metamask_private_key_here

# Block Explorer API Keys (get free at each explorer)
BASESCAN_API_KEY=get_from_basescan.org
ETHERSCAN_API_KEY=get_from_etherscan.io
POLYGONSCAN_API_KEY=get_from_polygonscan.com
ARBISCAN_API_KEY=get_from_arbiscan.io
OPTIMISM_API_KEY=get_from_optimistic.etherscan.io
BSCSCAN_API_KEY=get_from_bscscan.com
